*{
    background-color: #111;
}

#section1{
    text-align: center; 
    color: #fff;
    align-items: center;
}

#section1 button {
    border: aqua;
    background-color: aqua;
    padding: 5px 25px;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 10px aqua;
    transition: 0.5s;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
}
#mainText {
    color: darkred;
}

#section1 button:hover{
    color: aqua;
    background-color: blue;
    box-shadow: 0px 0px 5px 10px blue;
    transition: 0.5s;
}
.column{
    float: left;
    width: 50%;
    margin-left: 25%;
}

#solution {
    color: darkred;
}
.numInput {
    background-color: #fff;
    width: 25%;
    background-color: aquamarine;
    color:#111;
}

.txtInput {
    color: #111;
    background-color:ghostwhite;
    border-radius: 5px;
    text-align: center;
}